.list {
  list-style-type: none;
  padding-left: 0;
  margin: 16px 23px;
}

.list__item {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  display: grid;
  grid-template-columns: 30px 1fr 30px;
}

.list__text {
  padding: 2px 10px;
}

.list__text--lineThrough {
  text-decoration: line-through;
}

.list__button {
  height: 30px;
  width: 30px;
  color: white;
}

.list__button--remove {
  background-color: red;
  border: 2px solid red;
}

.list__button--remove:hover {
  background-color: hsl(0, 100%, 65%);
  border-color: hsl(0, 100%, 65%);
}

.list__button--remove:active {
  border-color: #333;
  border-radius: 2px;
}

.list__button--toggle {
  background-color: green;
  border: 2px solid green;
}

.list__button--toggle:hover {
  background-color: hsl(120, 100%, 30%);
  border-color: hsl(120, 100%, 30%);
}

.list__button--toggle:active {
  border-color: #333;
  border-radius: 2px;
}
